.cart-container {
  padding: 30px;
  text-align: center;
}


.cart-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.cart-card {
  display: flex;
  align-items: center;
  gap: 20px;
  background: white;
  padding: 20px;
  border-radius: 15px;
}


.cart-card img {
  width: 120px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}


.quantity button {
  padding: 5px 12px;
  margin: 5px;
}


.remove {
  background: red;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
}


.checkout {
  margin-top: 20px;
  padding: 12px 30px;
  background: orange;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}